<h1><%= t(".products") %></h1>

<p> <%= link_to t(".add_product"), new_product_path  %>

<div class="products-list">
  <% @products.each do |product| %>
    <p> <%= link_to product.title, product  %>, <%= product.price %>
    <br>
  <% end %>
</div>
